.t1
{
	font-size:32px;
	font-weight: bold;
	color: blue;
	margin: 10px;
}

.picture
{
	width:100%;
	height:auto;
}

.header
{
	background-color: #097fdc;
	height:50px;
	width:100%;
}

.headertext
{
	float: left;
	color: white;
	font-size: 32px;
	margin-left: 3%;
	margin-top: 10px;
}

.headerinfo
{
	float: left;
	color: white;
	font-size: 14px;
	position: relative;
	right: -25%;
}

.profileimage
{
	float: right;
	height: 100%;
	width: auto;
	margin-right: 3%;
}

.linkblock
{
	float: left;
	width: 30%;
	border: solid 1px black;
	margin-top: 15px;
	margin-right: 3%; 
	height: 80%;
}

.mainblock
{
	float: left;
	width: 60%;
}

.list
{
	font-size: 18px;
}

.left 
{ 
    float: left; /* Обтекание по правому краю */
    width: 40%; /* Ширина слоя */
	height:auto;
	border: solid 1px black;
	margin-right:30px;
}

.right 
{ 
    width: 100%; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
	font-size:24px;
}

@media screen and (max-width:920px) 
{
	.t1
	{
		font-size: 24px;
	}
	.list
	{
		font-size: 14px;
	}
	.left, .right
	{
		width:100%;
	}
	.left
	{
		margin-right:0px;
		margin-bottom:20px;
	}
}

@media screen and (max-width:550px) 
{
	.headerinfo
	{
		display: none;
	}
}